@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Poppins:wght@400;500;700&display=swap'); */

/* font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

*{
    outline: 1px solid tomato;
}

html, body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.nav {
    padding: 20px 0;
    border-bottom: 1px solid #26292d;
    background-color: #171718;
    color: #fff;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px; */
    flex-wrap: wrap;
}

.nav-list{
    display: flex;
    justify-content: space-between;
}

.nav-list__item {
}
.nav-list__link {
}

.logo {
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins', sans-serif; 
}

.logo strong {
    font-weight: 700;
}